@import '../variables.scss';

.article {
    margin-top: $spacer;

    img,
    .imagePlaceholder {
        width: 100%;
        height: 300px;

        @media screen and (max-width: 62rem) {
            height: 230px;
        }

        object-fit: cover;
    }

    .imagePlaceholder {
        display: flex;
        justify-content: center;
        align-items: center;

        .material-icons {
            color: $grey;
            font-size: 2rem;

        }
    }

    .article-image-wrapper {
        position: relative;
        overflow: hidden;
    }
}


.desktop-related {
    margin-top: 1rem;
    max-height: 100%;

    @media screen and (max-width: 62rem) {
        margin-top: 0;
    }

    p {
        padding-top: 1rem;
    }

    .desktop-related-article {
        display: inline-flex;
        margin-top: 1rem;
        width: 100%;

        img,
        .imagePlaceholder {
            width: 48px;
            height: 48px;
            border-radius: 10px;
            margin-right: 1rem;
            opacity: 0.75;
        }

        .imagePlaceholder {
            min-width: 48px;
            min-height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h4 {
            opacity: 0.6;
        }

        @media screen and (max-width: 62rem) {
            display: none;
        }
    }

    .desktop-related-article:hover {

        img,
        h4 {
            opacity: 1;
        }
    }

    .button {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

.preview-related-articles-wrapper {
    @media screen and (max-width: 62rem) {
        padding: 0;
    }
}