@import '../variables.scss';

.feed {
    margin-top: 4rem;

    @media screen and (max-width: 62rem) {
        h1 {
            padding: 0;
        }
    }
}

.more-articles-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}