.desktop-nav {
    height: 100vh;
    position: fixed;
    background-color: white;
    box-shadow: $shadow;
    left: 0;
    top: 0;
    z-index: 50;
    padding: 0 1rem;
    width: calc(100%/6 + 1rem);

    @media screen and (max-width: 62rem) {
        display: none;
    }

    img {
        max-width: 100%;
        padding-right: $spacer;
        margin-top: 1rem;
        box-sizing: border-box;
        height: 4rem;
    }

}

.nav-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;

    .nav-section-wrapper {
        padding: 1rem 0;
        margin-top: 1rem;
    }
}

.nav-link {
    display: block;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    span {
        margin-right: 0.5rem;
    }
}

.mobile-nav-open {
    height: 100vh;
    width: 100vw;
    background-color: $white;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 50;

    .nav-section-wrapper {
        padding: 1rem 2rem;
    }

    .nav-section-wrapper:last-child {
        background-color: $light-grey
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow;
    background-color: $white;
    z-index: 50;
    height: 4rem;
    margin-bottom: 0.5rem;
    position: fixed;
    width: 100vw;
    overflow: visible;
    background-color: #ffffff;
    top: 0;
    box-sizing: border-box;

    @media screen and (min-width: 62rem) {
        display: none;
    }

    a {
        height: 70%;

        img {
            height: 100%
        }
    }
}

.headerHidden,
.navClosed {
    display: none;
}

.open-nav-header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;

    a {
        height: 70%;

        img {
            height: 100%
        }
    }
}