.desktop-nav {
    height: 100vh;
    position: fixed;
    background-color: white;
    box-shadow: $shadow;
    left: 0;
    top: 0;
    z-index: 100;
    padding-left: $spacer;
    width: calc(100%/6 + 1rem);

    img {
        width: 100%;
        padding-right: $spacer;
        margin-top: 1.5rem;
        box-sizing: border-box;
    }

}