.desktop-nav {
    height: 100vh;
    position: fixed;
    background-color: white;
    box-shadow: $shadow;
    left: 0;
    top: 0;
    z-index: 100;
    padding-left: $spacer;
    width: calc(100%/6 + 1rem);

    .nav-main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;

        .nav-section-wrapper {
            padding: $spacer 0;
        }
    }

    img {
        max-width: 100%;
        padding-right: $spacer;
        margin-top: 1rem;
        box-sizing: border-box;
        height: 4rem;
    }

}

.nav-link {
    display: block;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}