.source-info-underlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    top: 0;
    z-index: 200;

    .source-info {
        position: relative;
        padding: 1rem;
        background-color: white;
        box-shadow: $shadow;
        border-radius: 20px;
        max-height: calc(100vh - 4rem);
        overflow-y: scroll;

        @media screen and (max-width:62rem) {
            margin: 1rem;
            max-width: calc(100vw - 2rem);
        }

        @media screen and (min-width:62rem) {
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: 3rem;
        }

        .material-icons {
            text-align: right;
            width: 100%;
            display: block;
            cursor: pointer;
        }

        .source-info-title {
            display: flex;
            justify-content: left;
            align-items: flex-end;

            img,
            .imagePlaceholder {
                height: 48px;
                width: 48px;
                border-radius: 10px;
                object-fit: contain;
                margin-right: 0.5rem;

                .material-icons {
                    margin: 0;
                    text-align: center;
                }
            }

        }

        p {
            margin-top: 1rem;

            a {
                text-decoration: underline;
                color: $black;
            }
        }

        .text-small {
            margin-top: 0.5rem;
        }

        h4 {
            display: flex;
            align-items: center;

            span {
                color: $black;
                margin-left: 0.5rem;
            }
        }

        .badge-description {
            margin-top: 1.5rem;

            .score-badge {
                .material-icons {
                    margin-right: 0.5rem;
                    width: auto;
                }
            }

            .biased-badge {
                width: 3rem;
                margin: 0;

                .material-icons,
                span {
                    text-align: center;
                }
            }

            &-score {
                display: flex;
                margin-top: 1rem;

                ul {
                    width: 80%;
                }

            }
        }
    }
}

.article-source-wrapper {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    width: calc(100% - 1.5rem);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    cursor: pointer;

    img,
    .imagePlaceholder {
        max-width: 48px;
        max-height: 48px;
        min-width: 48px;
        min-height: 48px;
        border-radius: 10px;

        .material-icons {
            margin-left: 0;
            color: $grey;
        }
    }

    .imagePlaceholder {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        margin-left: $spacer-xs
    }

    div {
        display: flex;
        align-items: flex-end;

        img,
        .imagePlaceholder {
            margin-bottom: 0.2rem;
        }
    }
}

.biased-badge,
.score-badge {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    height: 2rem;
    margin-bottom: 0.25rem;

    .material-icons {
        margin: 0;
        font-size: 1.3rem;
    }
}

.biased-badge {
    width: 2rem;
}

.score-badge {
    width: 3rem;

}