.user-feed-page {
    z-index: -51;
    margin-top: 7rem;

    @media screen and (max-width: 62rem) {
        margin-top: 0;

        .login {
            display: none;
        }

        .title-under-search {
            margin-top: 5rem;
        }
    }

    @media screen and (max-width: 62rem) {
        .login {
            display: none;
        }
    }
}