@import './variables.scss';

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $spacer;
    width: 100%;
    grid-column: 1/ span 12;
    box-sizing: border-box;

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(8, 1fr);
        grid-column: 1/ span 8;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1em;
        grid-column: 1/ span 4;
    }
}

.body-padding {
    padding-left: 2em;
    padding-right: 4em;

    @media screen and (max-width: 1024px) {
        padding-left: 4em;
        padding-right: 4em;
    }

    @media screen and (max-width: 600px) {
        padding-left: 2em;
        padding-right: 2em;
    }

    max-width: 100vw;
    overflow: hidden;
}

body {
    margin: 0;
}