//colors

$black: #000000;
$white: #ffffff;
$light-grey: #EAEAEA;
$grey: #7A7A7A;
$pink: #F298FA;
$blue: #58B2FA;
$green: #81DE83;
$yellow: #FBD855;

$shadow: 0 0 6px $grey;
$spacer: 2rem;
$spacer-s: 1rem;
$spacer-xs: 0.5rem;