.related-page,
.bookmarks-page {
    margin-top: 7rem;

    @media screen and (max-width: 62rem) {
        margin-top: 0;
    }

    .title.row {
        @media screen and (max-width: 62rem) {
            margin-top: 5rem;
        }
    }

    .article-image-wrapper {

        img,
        .imagePlaceholder {
            height: 200px;
        }
    }

    @media screen and (max-width: 62rem) {
        .search {
            display: none;
        }

        h1 {
            padding: 0;
        }
    }
}

.related-page {
    .page-title {
        @media screen and (max-width: 38rem) {
            display: inline-block;
            margin-left: 16.667%;
        }
    }

    .row:nth-child(2) p {
        position: relative;
        bottom: -1rem;
    }

}